@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.pet-badge {
    display: inline-block;
    background-color:#EED7C5 ;
    border-radius: 8px;
    padding: 32px;
    box-shadow:0 8px 24px rgba(0, 0, 0, 0.10);
    font-family: 'Oleo Script Swash Caps', cursive;
}
.pet-image {
    text-align: center;
    width: 300px;
    border-radius: 50%;
    border: 8px solid #B36A5E;
    margin-bottom: 10px;
}
.pet-name {
    font-family: "Oleo Script Swash Caps", cursive;
    text-align: center;
    font-size: 60px;
    margin: 0;
    color: #B36A5E;
}
